<div>
    <div class="col-10 m-auto pt-5">
        <div class="card border border-info">
            <div class="card-header bg-info text-center text-light ">
                <h3 class="text-uppercase  font-weight-bold">quên mật khẩu</h3>
                <span class="font-italic">Kính mời nhập thông tin bên dưới</span>
            </div>
            <div class="card-body ml-3 mr-3">
                <form name="frmlg">
                    <div class="row form-group">
                        <label>Tài khoản</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user text-primary"></i></span>
                            </div>
                            <input name="username" ng-model="username" required minlength="1" maxlength="10"
                                class="form-control" placeholder="Nhập tài khoản người dùng">
                        </div>
                        <div ng-show="frmlg.username.$invalid" class="text-danger font-italic ml-5">
                            Vui lòng nhập tài khoản đăng nhập
                        </div>
                    </div>
                    <div class="row form-group">
                        <label>Mật khẩu</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key text-primary"></i></span>
                            </div>
                            <input name="password" ng-model="password" required minlength="6" class="form-control"
                                placeholder="Nhập email người dùng">
                        </div>
                        <div ng-show="frmlg.password.$invalid" class="text-danger font-italic ml-5">
                            Vui lòng nhập email đăng nhập
                        </div>
                    </div>
                    <div class="row">
                        <button ng-click="login()" ng-disabled="frmlg.$invalid"
                            class="btn btn-info btn-block text-uppercase font-weight-bold">
                            QUÊN MẬT KHẨU</button>
                    </div>
                    <p class="text-center mt-3">Lấy lại mật khẩu ? <a href="#!dangnhap"> &nbsp; Đăng nhập ngay</a>
                    </p>
                </form>
            </div>
        </div>
    </div>


</div>